<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<%- include('../partials/carrousel') -%>

<br>
<div style="padding-right: 140px; padding-left: 140px;">
  <% chunk.forEach((articles)=> {%>
    <div class="row mt-3"> 
        <% articles.forEach((article)=> {%>
          <div class="col-sm-6 col-md-4">
              <div class="card">
                  <div class="card-body">
                    <img  src="<%= '/images/' + article.articlePic%>" height="150px" width="350px">
                    <br><br>
                    <h5 style=" color: #CF9817;  font-family: Diavlo Light , Diavlo , sans-serif ;  " class="card-title"><%= article.title%></h5>
                    <p><span class="badge badge-secondary">Date: <%=article.date.toDateString()%></span></p>
                    <hr>
                    <p class="card-text"><strong> Subject: </strong>  <%= article.subject%></p>
                    <a  href="<%=  '/articles/show/'  + article.id %>" >  <p style=" color: #000000;  font-family: Diavlo Light , Diavlo , sans-serif ;  " class="card-text">  <%= article.description%>...</p></a>  
                    <a href="<%=  '/articles/show/'  + article.id %>" > <i class="fas fa-angle-right"></i> More</a>
                    </div>
                </div>
                <br>
          </div>
          <%})%>
    </div>
  <%})%>
</div>

<div class="row">
  <div class="col-12 mt-2 mb-4">
    <nav aria-label="...">
      <ul class="pagination pagination-lg justify-content-center">
        <% for (let i=1 ; i <= Math.ceil(total/5); i++) {%>
        
          <% if (pageNo == i) {%>
            <li class="page-item active" style="padding-right: 10px; padding-left: 10px;" ><a  class="btn btn-warning" class="page-link" href="<%= '/articles/' + i%>"><%= i%></a></li>
          <%} else { %>
          <li class="page-item" style="padding-right: 10px; padding-left: 10px;"> <a  class="btn btn-warning" class="page-link" href="<%= '/articles/' + i%>"><%= i%></a></li>
          <%}%>
        
        <%}%>
        
      </ul>
    </nav>
  </div>
</div>

<%- include('../partials/contact') -%>
<%- include('../partials/footer') -%>

